.container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.avatar {
  flex-shrink: 0;
}

.dotsContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: hsl(var(--muted-foreground));
  border-radius: 9999px;
}
